name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: building
  cancel-in-progress: false

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          persist-credentials: false
          access-token: ${{ secrets.GH_TOKEN }}

      - name: Checkout build repo
        uses: actions/checkout@v4
        with:
          repository: RedPepperDec/RedPepper_Build
          token: ${{ secrets.GH_TOKEN }}
          path: setup

      - name: Setup
        run: |
          cp ./setup/ver ./data/ -rf
          sudo apt-get update
          sudo apt-get install -y cmake make python3 python3-pip python-is-python3
          python -m pip install watchdog colorama levenshtein cxxfilt GitPython matplotlib numpy pyelftools

      - name: Locale to japanese
        run: |
          sudo apt-get update
          sudo apt-get install -y locales
          echo "ja_JP.SJIS SHIFT_JIS" | sudo tee -a /usr/share/i18n/SUPPORTED
          echo "ja_JP.SJIS SHIFT_JIS" | sudo tee -a /etc/locale.gen
          sudo locale-gen ja_JP.SJIS
          export LANG="ja_JP.SJIS"
          export LC_ALL="ja_JP.SJIS"

      - name: Build & Parse
        run: | 
          export LM_LICENSE_FILE="$PWD/setup/license.dat"
          export ARMCC_PATH="$PWD/setup/armcc"
          export ARMCC41INC="${ARMCC_PATH}/include/unix"
          export ARMCC41LIB="${ARMCC_PATH}/lib"
          export DEVKITARM="$PWD/setup/dkp"
          
          VERSIONS=(); for dir in ./data/ver/*/; do VERSIONS+=("${dir%/}"); done; VERSIONS=("${VERSIONS[@]##*/}")

          for v in "${VERSIONS[@]}"; do
              echo "Now $v"
              python tools/build.py "$v"

              export DEVKITARM="$PWD/setup/dkp"
              python tools/check.py -c
              python tools/progress.py
          done
          python tools/build.py

      - name: Publish stats
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          VERSIONS=(); for dir in ./data/ver/*/; do VERSIONS+=("${dir%/}"); done; VERSIONS=("${VERSIONS[@]##*/}")

          for v in "${VERSIONS[@]}"; do
              echo "Now $v"
              R="stats-$v"
              DIR="data/stats/$v"

              BODY=""
              FILE="$DIR/release.txt"
              if [ -f "$FILE" ]; then
                  BODY=$(cat "$FILE")
              else
                  echo missing release.txt for $v
              fi

              if gh release view "$R" >/dev/null 2>&1; then
                  gh release delete "$R" --yes || true
              fi

              gh release create "$R" -t "$R" -n "$BODY"

              for f in "$DIR"/*; do
                  if [[ "$(basename "$f")" == "release.txt" ]]; then
                      continue
                  fi
                  gh release upload "$R" "$f" --clobber
              done
          done

      - name: Update map
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.email "bot@rpd.com"
          git config --global user.name "RedBotter"
          git add data/ || true
          git commit --amend --no-edit || true
          git remote set-url origin https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/RedPepperDec/RedPepper.git
          git push -f
